<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>Landing Page</title>
        <meta name="author" content="Ramsin Khoshabeh">
        <meta name="description" content="A Place to Call Home">
    
        <link rel="stylesheet" type="text/css" href="css/agile.css">
      </head>
<body>

    <div class="hero2">
        <img class="logo" src="images/logo.png">
    </div>
    <div class='hero'>
        <h1> Chamelodors </h1>
        <p> Smart, Adaptive, and Stylish Humidification </p>
    </div>
    
    
    <section class='padding-responsive'>

        <h1 class='bordered'> Product Description </h1>
        <p> Chamelodors is a new company that is seeking to target the cigar and cannabis market with a premium smart and stylish humidor for both storage and display. This humidor will be fully automated - no more fussing with humidification packs. The humidity settings can be changed either through the control panel or on our mobile app. The interface includes easy-to-read gauges and intuitive controls such that anyone can simply store and display their cigars or cannabis with confidence and ease of mind.</p>

        <h1 class='bordered'> Our Solution </h1>
        <section class='container-1'>
            <div class="card margin-none box"> 
                <img class='sol' src="images/double_ins.png" alt="">
                <h3>Dual-Layer insulation</h2>
                <p>Acrylic interior for consistent humidification, wood exterior for style.</p>
            </div>
            <div class="card margin-none box"> 
                <img class='sol' src="images/iot.png" alt="">
                <h3>IoT smart humidification control</h2>
                <p>Monitor and adjust the humidity level from the app.</p>
            </div>
        </section>

        <h1 class="bordered">Benefits</h1>
        <h3 class="">Consistent</h2>
        <p>Our humidor functions like a Tupperdore on the inside with sealed acrylic insulation, while maintaining a classic wooden style on the outside. No more leaks!</p>
        <h3 class="">Automatic</h2>
        <p>The Chamelodor humidor uses a temperature and humidity sensor not only to display the temperature and humidity information to the user, but also to make adaptive humidification decisions on the fly! Based on the user’s preference, our humidor uses a computer to monitor the desired humidity level and makes adjustments to meet that level.</p>
        <h3 class="">Easy to use</h2>
        <p>The controls on our humidor are intuitive and natural. Gauges are easily readable at a glance and setting your desired humidity level could not be easier. Since the computer handles the actual humidification, the only user input required is their desired humidity level. Humidifying your cigars and/or cannabis has never been easier!
        </p>
        <h3 class="">Affordable</h2>
        <p>The Chamelodor humidor will be competitively priced against other accessible manual humidors on the market.</p>
        <h3 class="">Stylish</h2>
        <p>The Chamelodor humidor was designed to be shown off! Design cues for the control panel were inspired by timeless classic designs, such as classic automotive gauges and vintage guitar amplifier controls. Interior LED lighting along with a glass door ensures that your investments look impressive and transform into a conversation piece. The wooden exterior blends in nicely with surrounding furniture.</p>
        
        <h1 class='bordered'> Our KVP </h1>
        <p> Chamelodors offers a new and unique humidification experience to its customers. 
            As of now, there does not exist an affordable humidor on the market that is also automatic, stylish, and consistent. 
            We seek to fill this void and hence redefine the status quo of tobacco and cannabis storage with our revolutionary product—no sacrifices or extra effort required</p>

        
        <h1 class='bordered'> Meet the Team!</h1>
        <section class='responsive_grid'>
            <div class='card bordered margin-none'> 
                <h2>Rasya Soeroso</h2>
                <p>An electrical engineering senior with a depth in ML and Controls.    Born and raised in Indonesia. She has an uttermost passion for technology, engineering and product development.</p>
            </div>
            <div class='card bordered margin-none'> 
                <h2>Gino Calgaro</h2> 
                <p>A San Diego native, Gino is a fourth-year Electrical Engineering major at UC San Diego studying a depth in Digital Signal Processing. In his free time, he enjoys playing music, working on cars, and trying new things.</p>
            </div>
            <div class='card bordered margin-none'> 
                <h2>Rishiv Thondepu</h2> 
                <p>An ECE major with a depth in ML and Controls, Rishiv is passionate about building products. He is from Chennai, India and is pursuing a career in Systems Engineering.</p>
            </div>
            <div class='card bordered margin-none'> 
                <h2>Kyle Janosky</h2> 
                <!-- <p>An ECE major with a depth in ML and Controls, Rishiv is passionate about building products. He is from Chennai, India and is pursuing a career in Systems Engineering.</p> -->
            </div>
        </section>
    </section>
    
  
       
</body>
</html>